/backend/node_modules/
/backend/dist/
/backend/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/.next/
/frontend/.vuepress/dist
/frontend/public/build/
/frontend/build/

*.log
*.cache
*.tmp

.vscode/
.idea/
*.swp
*.swo